In [1]:
import pandas as pd
import ast  # To safely convert string to dictionary


df = pd.read_csv(r"C:\Users\Mar\Documents\Data Analytics\AProjects 2024\Coffe Rewards\Cafe+Rewards+Offers\events.csv")

In [2]:
df

,customer_id,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0
...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714

In [3]:
# Con. JSON-like string to dictionary
df['value_dict'] = df['value'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else {})

In [20]:
# Ext 'transaction_amount' for transactions
df['transaction_amount'] = df.apply(lambda x: x['value_dict'].get('amount', None) if x['event'] == 'transaction' else None, axis=1)

## this created errors

In [22]:
df['transaction_amount']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
306529    1.59
306530    9.53
306531    3.61
306532    3.53
306533    4.05
Name: transaction_amount, Length: 306534, dtype: float64

In [9]:
# Ext 'offer_id' for offer-related events

###offer_events = ['offer received', 'offer viewed', 'offer completed']
####df['clean_offer_id'] = df.apply(lambda x: x['value_dict'].get('offer id', None) if x['event'] in offer_events else None, axis=1)

### This code was wrong , because in the end i ended up NONE offer_id for COMPLETED ORDERS!!!!!!!!!!

In [10]:
### df[df['event'] == 'offer completed'][['value_dict', 'clean_offer_id']]

                                               value_dict clean_offer_id
12658   {'offer_id': '2906b810c7d4411798c6938adc9daaa5...           None
12672   {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...           None
12679   {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...           None
12692   {'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...           None
12697   {'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...           None
...                                                   ...            ...
306475  {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...           None
306497  {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...           None
306506  {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...           None
306509  {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...           None
306527  {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...           None

[33579 rows x 2 columns]

In [11]:
### print(df['value_dict'].iloc[0].keys())  # Checking actual key names

dict_keys(['offer id'])

In [12]:
##Trying to troubleshoot , maybe are spelling mistakes  ex. 'Offer Received' vs. 'offer received'

print(df['event'].unique())  # See actual event names

['offer received' 'offer viewed' 'transaction' 'offer completed']

In [13]:
### df[df['value_dict'] == {}]  # looking  if there are empty  dictionaries

Empty DataFrame
Columns: [customer_id, event, value, time, value_dict, transaction_amount, clean_offer_id]
Index: []

In [14]:
### print(df['value_dict'].head(10))

0    {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1    {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2    {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3    {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4    {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5    {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6    {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7    {'offer id': '3f207df678b143eea3cee63160fa8bed'}
8    {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9    {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
Name: value_dict, dtype: object

In [15]:
### row = df.iloc[0]  # Change index if needed
## print(row['value_dict'])  # i want to check dictionary structure
### print(row['value_dict'].get('offer id', 'Not Found'))  # Extract offer_id manually

{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
9b98b8c7a33c4b65b9aebfe6a799e6d9

In [ ]:
## ## The value_dict is structured correctly and contains data.
## The extraction should work.

## So Why is clean_offer_id Still None?

In [20]:
# I want to check what kind of data is stored in value_dict

## df['value_structure'] = df['value_dict'].apply(lambda d: str(sorted(d.keys())))
## df.groupby('event')['value_structure'].unique()

event
offer completed    [['offer_id', 'reward']]
offer received               [['offer id']]
offer viewed                 [['offer id']]
transaction                    [['amount']]
Name: value_structure, dtype: object

In [21]:
### i want to check rows with 'reward'

## df[df['event'] == 'offer completed'].apply(lambda x: 'reward' in x['value_dict'], axis=1).sum()

33579

In [22]:
### df[df['event'] == 'offer completed'].loc[df['value_dict'].apply(lambda d: 'reward' in d)]

,customer_id,event,value,time,value_dict,transaction_amount,clean_offer_id,value_structure
12658,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,offer completed,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...,NaN,None,"['offer_id', 'reward']"
12672,fe97aa22dd3e48c8b143116a8403dd52,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,0,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,NaN,None,"['offer_id', 'reward']"
12679,629fc02d56414d91bca360decdfa9288,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,0,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,NaN,None,"['offer_id', 'reward']"
12692,676506bad68e4161b9bbaffeb039626b,offer completed,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,0,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,NaN,None,"['offer_id', 'reward']"
12697,8f7dd3b2afe14c078eb4f6e6fe4ba97d,offer completed,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...,0,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...,NaN,None,"['offer_id', 'reward']"
...,...,...,...,...,...,...,...,...
306475,0c027f5f34dd4b9eba0a25785c611273,offer completed,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...,714,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...,NaN,None,"['offer_id', 'reward']"
306497,a6f84f4e976f44508c358cc9aba6d2b3,offer completed,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...,714,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...,NaN,None,"['offer_id', 'reward']"
306506,b895c57e8cd047a8872ce02aa54759d6,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,NaN,None,"['offer_id', 'reward']"
306509,8431c16f8e1d440880db371a68f82dd0,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,NaN,None,"['offer_id', 'reward']"
306527,24f56b5e1849462093931b164eb803b5,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,NaN,None,"['offer_id', 'reward']"

In [23]:
## I want to see if 'reward' is actually in the value_dict column 

## df[df['event'] == 'offer completed']['value_dict'].apply(lambda x: x if 'reward' in x else None).dropna()

12658     {'offer_id': '2906b810c7d4411798c6938adc9daaa5...
12672     {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
12679     {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...
12692     {'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...
12697     {'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...
                                ...
306475    {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...
306497    {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...
306506    {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306509    {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306527    {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
Name: value_dict, Length: 33579, dtype: object

In [24]:

## pd.options.display.max_colwidth = None  # Remove truncation

## df[df['event'] == 'offer completed']['value_dict'].apply(lambda x: x if 'reward' in x else None).dropna()

12658      {'offer_id': '2906b810c7d4411798c6938adc9daaa5', 'reward': 2}
12672      {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4', 'reward': 2}
12679      {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9', 'reward': 5}
12692     {'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd', 'reward': 10}
12697     {'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0', 'reward': 10}
                                       ...
306475     {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2', 'reward': 3}
306497     {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2', 'reward': 3}
306506     {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4', 'reward': 2}
306509     {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4', 'reward': 2}
306527     {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4', 'reward': 2}
Name: value_dict, Length: 33579, dtype: object

In [8]:
### "offer id" and "offer_id" appear in different ways
    
# Standardize key names inside value_dict
def standardize_keys(d):
    if isinstance(d, dict):
        return {k.replace(" ", "_"): v for k, v in d.items()}  # Replace spaces with underscores
    return d  # Return as is if not a dict

# Apply the function to the value_dict column
df['value_dict'] = df['value_dict'].apply(standardize_keys)

In [26]:
# df[['event', 'value_dict']].head(10)  # Show first 10 rows again

            event                                        value_dict
0  offer received  {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1  offer received  {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2  offer received  {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}
3  offer received  {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4  offer received  {'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5  offer received  {'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6  offer received  {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7  offer received  {'offer_id': '3f207df678b143eea3cee63160fa8bed'}
8  offer received  {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9  offer received  {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}

In [9]:
df[df['value_dict'].apply(lambda d: isinstance(d, dict) and 'offer id' in d)]

## since it returns an empty df, it means "offer id" was successfully converted to "offer_id".

Empty DataFrame
Columns: [customer_id, event, value, time, value_dict]
Index: []

In [10]:
### Now i will do again the extraction of ofeer_id 


# I define which events should have an offer_id (amount not)
offer_events = ['offer received', 'offer viewed', 'offer completed']

# Time to extract the offer_id 
df['clean_offer_id'] = df.apply(lambda x: x['value_dict'].get('offer_id') if x['event'] in offer_events else None, axis=1)

### Transactions do not have an offer id , so i will keep them as NONE

In [11]:
df[df['event'] == 'offer completed'][['event', 'value_dict', 'clean_offer_id']].head(10)

,event,value_dict,clean_offer_id
12658,offer completed,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...,2906b810c7d4411798c6938adc9daaa5
12672,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,fafdcd668e3743c1bb461111dcafc2a4
12679,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,9b98b8c7a33c4b65b9aebfe6a799e6d9
12692,offer completed,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,ae264e3637204a6fb9bb56bc8210ddfd
12697,offer completed,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...,4d5c57ea9a6940dd891ad53e9dbe8da0
12717,offer completed,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...,4d5c57ea9a6940dd891ad53e9dbe8da0
12721,offer completed,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...,2298d6c36e964ae4a3e7e9706d1fb8c2
12744,offer completed,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d...,f19421c1d4aa40978ebb69ca19b0e20d
12764,offer completed,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...,2906b810c7d4411798c6938adc9daaa5
12767,offer completed,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...,4d5c57ea9a6940dd891ad53e9dbe8da0

In [ ]:
## I want to see if there are  Rows with "No Offer" in clean_offer_id

In [12]:
df[df['clean_offer_id'] == 'No Offer'][['event', 'value_dict', 'clean_offer_id']].head(20)

### EMPTY!!!!!!Party Time!!!!!!!!!!!!!!!!!

Empty DataFrame
Columns: [event, value_dict, clean_offer_id]
Index: []

In [13]:
# Counting unique offer_ids in "offer received"
offers_sent = df[df['event'] == 'offer received']['clean_offer_id'].nunique()

# unique offer_ids in "offer completed"
offers_completed = df[df['event'] == 'offer completed']['clean_offer_id'].nunique()

print(f"Offers Sent: {offers_sent}, Offers Completed: {offers_completed}")

Offers Sent: 10, Offers Completed: 8

In [14]:
# Total number of offer received events. I am measuring the number of sent offers 
# based on the 'offers received' events, as the dataset does not provide a direct record of offers sent.

total_received = df[df['event'] == 'offer received'].shape[0]

# Total number of offer completed events
total_completed = df[df['event'] == 'offer completed'].shape[0]

print(f"Total Offers Sent (Received): {total_received}")
print(f"Total Offers Completed: {total_completed}")


### Cool! the  company sent 76,277 offers, and 33,579 of them were completed.

Total Offers Sent (Received): 76277
Total Offers Completed: 33579

In [15]:
## lets see the completion rate and success !!!!!!!!

conversion_rate = (total_completed / total_received) * 100
print(f"Offer Completion Rate: {conversion_rate:.2f}%")

Offer Completion Rate: 44.02%

In [16]:
# I need also to extract the 'reward' for offer completed events, otherwise set to NaN
df['reward'] = df.apply(lambda x: x['value_dict'].get('reward', None) if x['event'] == 'offer completed' else None, axis=1)

In [17]:
print(df.head())  ## to check the result!

                        customer_id           event  \
0  78afa995795e4d85b5d9ceeca43f5fef  offer received
1  a03223e636434f42ac4c3df47e8bac43  offer received
2  e2127556f4f64592b11af22de27a7932  offer received
3  8ec6ce2a7e7949b1bf142def7d0e0586  offer received
4  68617ca6246f4fbc85e91a2a49552598  offer received

                                              value  time  \
0  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}     0
1  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}     0
2  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}     0
3  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}     0
4  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}     0

                                         value_dict  \
0  {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1  {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2  {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}
3  {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4  {'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}

                     clean_offer_id  reward
0  9b98b8c7a33c4b65b9aebfe6a799e6d9     NaN
1  0b1e1539f2cc45b7b9fa7c272da2e1d7     NaN
2  2906b810c7d4411798c6938adc9daaa5     NaN
3  fafdcd668e3743c1bb461111dcafc2a4     NaN
4  4d5c57ea9a6940dd891ad53e9dbe8da0     NaN

In [24]:
# Save cleaned dataset

df.to_csv(r"C:\Users\Mar\Documents\Data Analytics\AProjects 2024\Coffe Rewards\Cafe+Rewards+Offers\cleaned_events.csv", index=False)

In [23]:
print(df.columns)

Index(['customer_id', 'event', 'value', 'time', 'value_dict', 'clean_offer_id',
       'reward', 'transaction_amount'],
      dtype='object')