In [3]:
import pandas as pd
import ast  # To safely convert string to dictionary


df = pd.read_csv(r"C:\Users\Mar\Documents\Data Analytics\AProjects 2024\Coffe Rewards\Cafe+Rewards+Offers\events.csv")

In [4]:
df

,customer_id,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0
...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714

In [7]:
# Con. JSON-like string to dictionary
df['value_dict'] = df['value'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else {})

In [8]:
# Ext 'transaction_amount' for transactions
df['transaction_amount'] = df.apply(lambda x: x['value_dict'].get('amount', None) if x['event'] == 'transaction' else None, axis=1)

In [9]:
df['transaction_amount']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
306529    1.59
306530    9.53
306531    3.61
306532    3.53
306533    4.05
Name: transaction_amount, Length: 306534, dtype: float64

In [10]:
# Ext 'offer_id' for offer-related events

offer_events = ['offer received', 'offer viewed', 'offer completed']
df['clean_offer_id'] = df.apply(lambda x: x['value_dict'].get('offer id', None) if x['event'] in offer_events else None, axis=1)

In [23]:
# Save cleaned dataset

df.to_csv(r"C:\Users\Mar\Documents\Data Analytics\AProjects 2024\Coffe Rewards\Cafe+Rewards+Offers\cleaned_events.csv", index=False)

In [17]:
print(df.head())

                        customer_id           event  \
0  78afa995795e4d85b5d9ceeca43f5fef  offer received
1  a03223e636434f42ac4c3df47e8bac43  offer received
2  e2127556f4f64592b11af22de27a7932  offer received
3  8ec6ce2a7e7949b1bf142def7d0e0586  offer received
4  68617ca6246f4fbc85e91a2a49552598  offer received

                                              value  time  \
0  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}     0
1  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}     0
2  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}     0
3  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}     0
4  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}     0

                                         value_dict  transaction_amount  \
0  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}                 NaN
1  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}                 NaN
2  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}                 NaN
3  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}                 NaN
4  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}                 NaN

                     clean_offer_id  reward
0  9b98b8c7a33c4b65b9aebfe6a799e6d9     NaN
1  0b1e1539f2cc45b7b9fa7c272da2e1d7     NaN
2  2906b810c7d4411798c6938adc9daaa5     NaN
3  fafdcd668e3743c1bb461111dcafc2a4     NaN
4  4d5c57ea9a6940dd891ad53e9dbe8da0     NaN

In [22]:
df.drop(columns=['value_dict'], inplace=True)

In [21]:
print(df.columns)

Index(['customer_id', 'event', 'value', 'time', 'value_dict',
       'transaction_amount', 'clean_offer_id', 'reward'],
      dtype='object')